USE [master]
GO
/****** Object:  Database [pqcomercio]    Script Date: 9/9/2025 20:37:58 ******/
CREATE DATABASE [pqcomercio]
/****** Object:  Table [dbo].[Articulo]    Script Date: 9/9/2025 20:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[id_articulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[precioUnitario] [decimal](18, 2) NULL,
 CONSTRAINT [pk_articulo] PRIMARY KEY CLUSTERED 
(
	[id_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 9/9/2025 20:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[idDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idFactura] [int] NULL,
	[articulo] [int] NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [pk_detalle] PRIMARY KEY CLUSTERED 
(
	[idDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 9/9/2025 20:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[nro_factura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[formapago] [int] NULL,
	[cliente] [varchar](50) NULL,
 CONSTRAINT [pk_factura] PRIMARY KEY CLUSTERED 
(
	[nro_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formapago]    Script Date: 9/9/2025 20:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formapago](
	[id_formapago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [pk_formapago] PRIMARY KEY CLUSTERED 
(
	[id_formapago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [fk_factura] FOREIGN KEY([idFactura])
REFERENCES [dbo].[Factura] ([nro_factura])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [fk_factura]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [fk_formapago] FOREIGN KEY([formapago])
REFERENCES [dbo].[Formapago] ([id_formapago])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [fk_formapago]
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDAR_ARTICULO]    Script Date: 9/9/2025 20:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GUARDAR_ARTICULO]
@id int,
@nombre varchar(50),
@precio decimal(18,2)
AS
BEGIN
	IF @id = 0
		BEGIN
			insert into Articulo(nombre,precioUnitario) 
			values (@nombre,@precio)	
		END
	ELSE
		BEGIN
			update Articulo
			set nombre= @nombre, precioUnitario= @precio 
			where id_articulo=@id
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDAR_DETALLE]    Script Date: 9/9/2025 20:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GUARDAR_DETALLE]
@id int,
@factura int,
@articulo int,
@cantidad int
AS
BEGIN
	IF @id = 0
		BEGIN
			insert into DetalleFactura(idFactura,articulo,cantidad) 
			values (@factura,@articulo,@cantidad)	
		END
	ELSE
		BEGIN
			update DetalleFactura
			set idFactura= @factura, articulo= @articulo, cantidad=@cantidad 
			where idDetalle=@id
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDAR_FACTURA]    Script Date: 9/9/2025 20:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GUARDAR_FACTURA]
@id int,
@fecha date,
@formapago int,
@cliente varchar(50)
AS
BEGIN
	IF @id = 0
		BEGIN
			insert into Factura(fecha,formapago,cliente) 
			values (@fecha,@formapago,@cliente)	
		END
	ELSE
		BEGIN
			update Factura
			set fecha= @fecha, formapago= @formapago, cliente=@cliente 
			where nro_factura=@id
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_ARTICULOS]    Script Date: 9/9/2025 20:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_RECUPERAR_ARTICULOS]
AS
BEGIN
Select a.*
from Articulo a
End
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_DETALLESFACTURAS]    Script Date: 9/9/2025 20:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_RECUPERAR_DETALLESFACTURAS]
AS
BEGIN
Select df.idDetalle,df.idFactura,a.nombre,df.cantidad
from DetalleFactura df
Inner Join Articulo a on df.articulo = a.id_articulo
Inner JOin Factura f on f.nro_factura = df.idFactura
End
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_FACTURAS]    Script Date: 9/9/2025 20:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_RECUPERAR_FACTURAS]
AS
BEGIN
Select f.nro_factura,f.fecha,p.nombre,f.cliente
from Factura f
Inner Join Formapago p on f.formapago = p.id_formapago
End

GO
USE [master]
GO
